:root {
	--color-dark: #15181f;
	--color-dark--xx: black;
	--color-dark-x: #2d343f;
	--color-light: white;
	--color-grey: #f5f6f8; 
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	background-color: var(--color-grey);
	color: var(--color-light);
	letter-spacing: .05rem;
}

.bg-light {
	background-color: var(--color-light)!important;
}

.bg-dark {
	background-color: var(--color-dark)!important;
}

.p-6{
	padding: 3rem 4rem;
}

.contact-box {
	padding: 3rem;
}

.btn-outline-dark {
	border: 2px solid var(--color-light)!important;
	border-radius: 12px;
}

.btn:hover {
	background-color: rgb(100, 255, 23) !important;
	color: rgb(36, 34, 34) !important;
}

.form-control {
	background-color: var(--color-dark--xx);
	border: 2px solid var(--color-dark--xx);
	border-radius: 12px;
	padding: 1.4rem 1rem;
}

.register-bg {
	background-image: url('img/paisajes-unicos-del-mundo-playa.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 12px;
	/* min-height: 100vh; */	
}

.testimonial {
	bottom: 10px;
	
}

@media (max-width: 576px) { 
	.enano{
		font-size: 18px;
		text-transform: uppercase;		
	}
	.enano-uno {
		text-align: center;
		margin-bottom: 33px;
	}	
 }
